.blog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--Darkviolet);
}

.blog__img {
  width: 100%;
  height: auto;
  z-index: 1;
}

.blog__design {
  width: 170px;
  position: absolute;
  top: 0;
  left: 0;
}

.blog__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  z-index: 1;
  margin-bottom: 4rem;
}

.blog__title {
  margin-top: 4.5rem;
  font-size: var(--size-5xl);
  max-width: 20ch;
  z-index: 1;
}

.blog__desc {
  font-size: var(--size-base);
  max-width: 35ch;
}

.blog__btn {
  text-decoration: none;
  padding: 0.3rem 1.5rem;
  border: 2px solid var(--Verylightgray);
  color: var(--Verylightgray);
  font-size: var(--size-base);
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.blog__btn:is(:hover, :focus) {
  background-color: var(--Verylightgray);
  color: var(--Darkviolet);
  border: 2px solid var(--Verylightgray);
}
.blog__line {
  display: none;
}

.blog__left,
.blog__right {
  display: none;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .blog__wrapper {
    position: relative;
  }

  .blog__title {
    font-size: var(--size-5xl);
    max-width: 30ch;
  }

  .blog__desc {
    font-size: var(--size-base);
    max-width: 40ch;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
  .blog {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100dvh;
    gap: 5rem;
  }

  .blog__img {
    width: 50%;
    /* margin-right: 6rem; */
  }

  .blog__design {
    display: none;
  }

  .blog__wrapper {
    position: relative;
    text-align: left;
    /* margin-left: 6rem; */
  }

  .blog__title {
    font-size: var(--size-5xl);
    max-width: 15ch;
    margin-right: auto;
  }

  .blog__desc {
    font-size: var(--size-base);
    max-width: 70ch;
    margin-right: auto;
  }

  .blog__btn {
    margin-right: auto;
  }

  .blog__line {
    display: block;
    position: absolute;
    background-color: var(--Darkgrayishviolet);
    width: 7rem;
    height: 2px;
    left: 0;
    top: -13%;
  }

  .blog__left,
  .blog__right {
    position: absolute;
    display: block;
  }

  .blog__left {
    left: 0;
    top: 75%;
    width: 140px;
  }

  .blog__right {
    top: -5%;
    right: 0;
    z-index: 2;
    width: 30%;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
